html {
    scroll-behavior: smooth; 
}
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: bahnschrift condensed;
}

body {
    width: 100%;
}

/* hero section */

.hero{
    width: 100%;
    height: 100vh;
    background-image: url(img/back.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* navigation */
.fashion{
    color: rgb(16, 140, 223);
}
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15%;
    position: sticky;
    z-index: 8;
}
nav ul li  {
    display: inline-block;
     padding: 10px 25px;
     color: black;
}
#bar {
    display: none;
}
nav ul li a{
    color: black;
    font-size: 20px;
    font-weight: 900;
    z-index: 8;
}
nav ul li a:hover{
    cursor: pointer;
}
.aboutpar, .pabout {
    font-size: 20px;
    font-weight: 300;
}
.logo {
    width: 100px;
}



 .dropdown {
    display: flex;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 90%;
    right: 10px;
    z-index: 999;
    background-color: white;
    border-radius: 5px;
    top: 70px;
    flex-direction: column;
    cursor: pointer;
    transition: .5s linear;
}


.dropdown.action  {
    height: 100px;
    display: flex;
    overflow: hidden;
    position: absolute;
    width: 90%;
    right: 10px;
    z-index: 999;
    background-color: white;
    border-radius: 5px;
    top: 70px;
    flex-direction: column;
    cursor: pointer;
    transition: .5s linear;
}

.dropdown a {
    color: black;
    border-bottom: 1px solid rgb(201, 201, 201);
    padding: 5px 0;
}

.dropdown a:hover {
    background-color: rgb(201, 201, 201);
}

/* HOME section*/

.aboutus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75%;
    width: 100%;
}
.aboutpar {
    width: 30%;
}
.divcool {
    width: 40%;
} 
.cool {
    animation: hover 4s ease-in-out infinite;
}
@keyframes hover {
    0% {
        top: 100px;
        position: absolute;
    }
    25% {
        top: 0;
        position: absolute;
    }
    50% {
        top: 100px;
        position: absolute;
    }
    75% {
        top: 0px;
        position: absolute;
        width: fit-content;
    }
    100% {
        top: 100px;
        position: absolute;
        width: fit-content;
    }
}

/* COLLECTION SECTION */

.slider {
    background-color: rgb(214, 214, 214);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.sliderwraper {
    display: flex;
    width: 400vw;
    transition: 1s ease-in-out;
}
.slideritem {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.slidertitle {
    position: absolute;
    top: 10%;
    right: 5%;
    font-size: 60PX;
    font-weight: 900PX;
    text-align: center;
}
.shoesimag {
    z-index: 2;
}
.sliderprice {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 60PX;
    font-weight: 10px;
    text-align: center; 
}
.slidbg {
    width: 550px;
    height: 550px;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}
.buybutton {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: 35PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    color: white; 
    cursor: pointer;
    border-radius: 5px;
    padding: 10px 20px;
    z-index: 10;
}
.buybutton:hover {
    background-color: white;
    color: black;
}
.slideritem:nth-child(1) .slidbg {
    background-color: #369c62;
}
.slideritem:nth-child(2) .slidbg {
    background-color: #9c4236;
}
.slideritem:nth-child(3) .slidbg {
    background-color: #363d9c;
}
.slideritem:nth-child(4) .slidbg {
    background-color: #9c368b;
}
.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 300px;
}
.remov {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: rgb(214, 214, 214);
    left: 0;
    top: 300px;
    z-index: 2;
}
.backarrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: black;
    background-color: white;
    border: 2px solid black;
    text-align: center;
    font-size: 35px;
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 300px;
}

.arrow:hover{
    background-color: black;
    color: white;
}
.backarrow:hover {
    background-color: black;
    color: white;
}

/* featurs section */

.featurs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    background-color: rgba(224, 224, 224, 1);
}
i {
    font-size: 40px;
}
.feature {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.featureTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}

 

/* product section */

.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
}

.productimg {
    width: 40%;
    margin-top: 50px;
    padding-left: 50px;
}
.productdetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
} 

.prodcttitle {
    font-size: 75px;
    font-weight: 900;
}
.productdesc {
font-size: 24px;
}
.colors, .sizes {
    gap: 5px;
    display: flex;
    margin-top: 30px;
}
.color{
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    padding-right: 10px;
    cursor: pointer;
}
 .color:nth-child(2){
    background-color: blue;
    border: 1px solid gray;
}

.size {
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
}
.productbutton {
    float: right;
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    color: white; 
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
.productbutton:hover {
    background-color: white;
    color: black;
}

/* payment section */


.payment{
    width: 500px;
    height: 450px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 50px;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 9px 17px 24px -4px rgba(66,61,66,0.88);
}
.paytitle {
    font-size: 24px;
    color: lightgray;
}
label {
    font-size: 24px;
    font-weight: 300;
}
.payinput {
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid gray;
}
.payinput::placeholder{
    color: rgb(196, 196, 196);
}
.location{
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: lightgreen;
    color: white; 
    cursor: pointer;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}
.location:hover {
    background-color: white;
    color: black;
}
.paypal {
    width: 70px;
    height: 50px;
}
.paybtn {
    background-color: darkorange;
    border: 1px solid lightgray;
    border-radius: 5px;
}
.paybtn:hover {
    background-color: white;
}

.close {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 50%;
    background-color: darkgray;
    position: absolute;
    text-align: center;
    font-size: 25px;
    color: white;
    right: 0;
    top: 0;
    padding-top: 3px;
    cursor: pointer;
}
.close:hover {
    color: black;
    background-color: white;
}

/* contact section */

.contact {
    width: 100%;
    height: 70vh;
    display: flex;
    gap: 30px;
    align-items: center;
    position: relative;
    background-color: rgb(236, 239, 240);
}
.parallel {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}
.contactlis {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin-top: 50px;
}
.contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
} 
.video {
    width: 100%;
    padding-left: 40px;
}
.video video {
    width: 100%;
}
i {
    color: black;
}
.contbtn {
    position: absolute;
    bottom: 30px;
    width: 100px;
    right: 10px;
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
.contbtn a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:1068px) {
    .aboutus {
        display: flex;
        justify-content: space-between;
        align-items: center;
        justify-self: center;
        align-self: center;
        height: 75%;
        width: 80%;
    }

    .aboutpar {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40%;
    }


    .divcool {
        width: 50%;
    }

    .cool {
        inline-size: 100%;
        aspect-ratio: 100 /90;
        object-fit: cover;
        animation:none;
    }



}

@media screen and (max-width: 930px) {
   

        /* COLLECTION SECTION */

.slider {
    background-color: rgb(214, 214, 214);
    width: 100%;
    padding-left: 0px;
    margin: 0;
    height: auto;
    overflow-x: auto;
    display: flex;
    align-items: center;
}

.slider::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit browsers */
  }

  .sliderwraper {
    justify-content: start;
    align-items: center;
    display: flex;
    height: 50vh;
    gap: 40px;
    padding: 100px 0px 100px 40px;
    width: max-content;
    transition: 1s ease-in-out;
}

.slideritem {
    padding: 50px 0;
    border-radius: 20px;
    border: 1px solid black;
    width: 60vw;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

  .slidertitle  {
    display: none;
  }

  .arrow, .backarrow {
    display: none;
  }

  .sliderimg {
    width: 60%;
    /* inline-size: 100%;
    aspect-ratio: 100 /90;
    object-fit: cover; */
  }


  .contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    position: relative;
    background-color: rgb(236, 239, 240);
  }


  .contbtn {
    position: absolute;
    bottom: 30px;
    left: 10px;
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
.video {
    max-width: inherit;
    padding-left: 0px;
}


.parallel {
    width: 100%;
    display: flex;
    padding: 60px 0;
   justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contactlis {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 50px 0;
}


.contbtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%;
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}
}

@media screen and (max-width: 750px) {
    .hero{
        width: 100%;
        height: auto;
        background-image: url(img/back.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }
    nav ul li  {
        display: none;
    }

    nav ul  {
       display: flex;
       justify-content: end; 
       padding-right: 5px;
    }
   #bar {
        display: block;
        font-size: 30px;
        cursor: pointer;
    }

    .aboutus {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        gap: 10%;
        align-items: center;
        height: 75%;
        width: 100%;
    }

    .aboutpar {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 40%;
    }

    .divcool {
        width: 90%;
    }

    .product {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: whitesmoke;
        position: relative;
            height: auto;
            padding-bottom: 20px;
    }

    .productdetails {
        position: unset;
        top: 10%;
        right: 0;
        width: 80%;
        padding: 0px;
    } 

    .productimg {
        width: 70%;
        margin-top: 50px;
        padding-left: 50px;
    }

    .productbutton {
        float: right;
        font-size: 20PX;
        text-align: center;
        border: 1px solid gray;
        background-color: black;
        color: white; 
        cursor: pointer;
        margin-top: 10px;
        border-radius: 4px;
        padding: 5px 10px;
    }

    
/* featurs section */

.featurs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 50px;
    background-color: rgba(224, 224, 224, 1);
}

.feature {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}


.parallel {
    width: 100%;
    display: flex;
    padding: 60px 0;
   justify-content: center;
    text-align: center;
    flex-direction: column;
}

.contactlis {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 50px 0;
}


.contbtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 95%;
    font-size: 20PX;
    text-align: center;
    border: 1px solid gray;
    background-color: black;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px 10px;
}

.payment{
    width: 270px;
    height: auto;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5px 20px;
    z-index: 999;
    display: none;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 9px 17px 24px -4px rgba(66,61,66,0.88);
}
}

@media screen and (max-width: 490px) {
    .slideritem {
        padding: 50px 0;
        border-radius: 20px;
        border: 1px solid black;
        width: 90vw;
        height: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }
}